<h1 class="mb-4">Ejercicios</h1>

<app-exercise-filter
  [muscles]="muscles"
  [equipments]="equipments"
  (filterChange)="handleFilter($event)" />

@if (exercises$ | async; as data) {
  <app-exercise-list [data]="data" (deleteChange)="handleDelete($event)" />

  <p-paginator
    showCurrentPageReport="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}"
    (onPageChange)="handlePage($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="data.count" />
} @else {
  <p-progressSpinner [style]="{ width: '40px', height: '40px' }" />
}

<p-toast />
