<h1 class="mb-4">Ejercicios</h1>

<div class="flex justify-between mb-2">
  <form [formGroup]="filterForm" (ngSubmit)="handleFilter()">
    <div class="flex space-x-2">
      <div>
        <input type="text" placeholder="Buscar..." formControlName="search" />
      </div>
      <div>
        <button class="btn-primary" type="submit">
          <i class="pi pi-search"></i>
          Buscar
        </button>
      </div>
    </div>
  </form>
  <div>
    <a href="#" routerLink="create" class="btn-primary inline-block"
      ><i class="pi pi-plus"></i> Nuevo Ejercicio</a
    >
  </div>
</div>

@if (exercises$ | async; as data) {
  <p-table [value]="data" stripedRows>
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Musculo</th>
        <th>Equipo</th>
        <th>Creado</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.muscle.name }}</td>
        <td>{{ item.equipment?.name }}</td>
        <td>{{ item.created | date: "mediumDate" }}</td>
        <td>
          <a
            href="#"
            pTooltip="Editar"
            tooltipPosition="top"
            [routerLink]="[item.id, 'edit']"
            class="text-blue-600"
            ><i class="pi pi-pen-to-square"></i
          ></a>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
