<form
  [formGroup]="routineForm"
  class="grid grid-cols-3 gap-4"
  (ngSubmit)="handleSubmit()">
  <div class="col-span-2">
    @if (users$ | async; as users) {
      <div class="mb-4">
        <label for="user" class="form-label">Usuario</label>
        <p-select
          [options]="users"
          optionLabel="username"
          optionValue="id"
          [filter]="true"
          filterBy="username"
          formControlName="user"
          class="w-full">
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.username }}</div>
          </ng-template>
          <ng-template let-item #item>
            <div>{{ item.username }}</div>
          </ng-template>
        </p-select>
      </div>
    }

    <div class="mb-4">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full"
        pInputText
        formControlName="name" />
      <p class="form-error">{{ checkErrors('name') }}</p>
    </div>

    <div class="mb-4">
      <label for="day" class="form-label">Selecciona un día</label>
      <div class="flex">
        @for (item of days; track item.value) {
          <div class="flex items-center ml-2">
            <p-radioButton
              name="day"
              [value]="item.value"
              formControlName="day"
              variant="filled"
              inputId="name" />
            <label for="name" class="text-sm ml-2">{{ item.label }}</label>
          </div>
        }
        <p class="form-error">{{ checkErrors('day') }}</p>
      </div>
    </div>

    <div class="mb-4">
      <label for="description" class="form-label">Descripción</label>
      <p-editor
        formControlName="description"
        class="w-full"
        [modules]="modules">
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>

    <div class="mb-4">
      <div class="flex items-center">
        <label for="is_active" class="form-label mr-4">Es Activo?</label>
        <p-checkbox
          inputId="is_active"
          name="is_active"
          [binary]="true"
          formControlName="is_active" />
        <p class="form-error">{{ checkErrors('is_active') }}</p>
      </div>
    </div>

    @if (workout) {
      <div formArrayName="exercises">
        @for (item of exercises.controls; track $index; let i = $index) {
          <div
            [formGroupName]="i"
            class="border odd:bg-white even:bg-gray-50 border-gray-200 px-4 py-6 rounded-md mb-4">
            <div class="grid grid-cols-7 gap-1 mb-4">
              <div class="col-span-3">
                <label for="exercise" class="form-label">Ejercicio</label>
                <p-select
                  [options]="exercisesList"
                  optionLabel="name"
                  optionValue="id"
                  [filter]="true"
                  filterBy="name"
                  formControlName="exercise"
                  class="w-full">
                  <ng-template #selectedItem let-selectedOption>
                    <div>{{ selectedOption.name }}</div>
                  </ng-template>
                  <ng-template let-item #item>
                    <div>{{ item.name }}</div>
                  </ng-template>
                </p-select>
              </div>
              <div class="col-span-3">
                <label for="description" class="form-label">Descripción</label>
                <input
                  type="text"
                  id="description"
                  name="description"
                  formControlName="description"
                  class="w-full rounded-md border-gray-300" />
              </div>
              <div class="flex items-end">
                <button
                  type="button"
                  (click)="removeExercise(i, item)"
                  class="text-red-600 rounded-md p-2">
                  <i class="pi pi-trash"></i>
                </button>
              </div>
            </div>

            <div formArrayName="sets">
              <div class="grid grid-cols-4 gap-1">
                <div class="text-left text-sm">Serie</div>
                <div class="text-left text-sm">Repetición</div>
                <div class="text-left text-sm">Peso</div>
                <div></div>
              </div>
              @for (s of sets(i).controls; track $index; let j = $index) {
                <div class="grid grid-cols-4 gap-1" [formGroupName]="j">
                  <div>
                    <input
                      type="number"
                      id="sets"
                      name="sets"
                      formControlName="sets"
                      class="rounded-md border-gray-300 p-1 w-full" />
                  </div>
                  <div>
                    <input
                      type="number"
                      id="rept"
                      name="rept"
                      formControlName="rept"
                      class="rounded-md border-gray-300 p-1 w-full" />
                  </div>
                  <div>
                    <input
                      type="number"
                      id="weight"
                      name="weight"
                      formControlName="weight"
                      class="rounded-md border-gray-300 p-1 w-full" />
                  </div>
                  <div>
                    <button
                      type="button"
                      (click)="removeSet(i, j)"
                      class="text-red-600 rounded-md p-2">
                      <i class="pi pi-trash"></i>
                    </button>
                  </div>
                </div>
              }
              <div>
                <button
                  type="button"
                  (click)="addSet(i)"
                  class="border border-gray-200 px-4 py-2 w-full rounded-md">
                  <i class="pi pi-plus"></i>
                </button>
              </div>
            </div>
          </div>
        }

        <div class="mt-2">
          <button
            type="button"
            (click)="addExercise()"
            class="border text-sm bg-green-700 text-white px-4 py-2 w-full rounded-md mt-2">
            <i class="pi pi-plus"></i>
          </button>
        </div>
      </div>
    }

    <div class="mt-6">
      <button class="btn-primary" type="submit">Guardar</button>
    </div>
  </div>
  <div></div>
</form>
