<div class="md:w-2/4">
  <form [formGroup]="routineForm" (ngSubmit)="handleSubmit()">
    <h1 class="mb-4">Nueva Rutina</h1>
    <div class="mb-2">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full"
        formControlName="name"
      />
      <p class="form-error">{{ checkErrors("name") }}</p>
    </div>
    <div class="mb-2">
      <label for="name" class="form-label">Dia</label>
      <select name="day" id="day" formControlName="day" class="w-full">
        @for (item of days; track item.value) {
          <option [value]="item.value">
            {{ item.label }}
          </option>
        }
      </select>
      <p class="form-error">{{ checkErrors("day") }}</p>
    </div>

    @if (users$ | async; as users) {
      <div class="mb-2">
        <label for="user" class="form-label">Usuario</label>
        <p-select
          [options]="users"
          optionLabel="username"
          optionValue="id"
          [filter]="true"
          filterBy="username"
          formControlName="user"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.username }}</div>
          </ng-template>
          <ng-template let-item #item>
            <div>{{ item.username }}</div>
          </ng-template>
        </p-select>
      </div>
    }
    <div class="mb-10">
      <label for="description" class="form-label">Descripción</label>
      <p-editor
        formControlName="description"
        class="w-full"
        [modules]="modules"
      >
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>

    <h2 class="mb-2">Agregar Ejercicios</h2>

    @for (item of exercises.controls; track $index; let index = $index) {
      <div class="flex gap-2 mb-4">
        <div class="basis-1/2">
          <p-select
            [options]="exercisesList"
            optionLabel="name"
            optionValue="id"
            [filter]="true"
            filterBy="name"
            [formControl]="item.get('exercise') | formControl"
            class="w-full"
          >
            <ng-template #selectedItem let-selectedOption>
              <div>{{ selectedOption.name }}</div>
            </ng-template>
            <ng-template let-item #item>
              <div>{{ item.name }}</div>
            </ng-template>
          </p-select>
        </div>
        <div class="basis-1/4">
          <input
            type="number"
            id="sets"
            name="sets"
            class="w-full"
            [formControl]="item.get('sets') | formControl"
          />
        </div>
        <div class="basis-1/4">
          <input
            type="number"
            id="repts"
            name="repts"
            class="w-full"
            [formControl]="item.get('repts') | formControl"
          />
        </div>
        <div class="flex">
          <p-button
            icon="pi pi-times"
            aria-label="remove"
            (click)="removeExercise(index)"
            severity="danger"
          />
        </div>
      </div>
    }
    <div class="mb-2">
      <p-button icon="pi pi-plus" aria-label="remove" (click)="addExercise()" />
    </div>

    <button class="btn-primary mt-10" type="submit">Guardar</button>
  </form>
</div>
