@if (images$ | async; as data) {
  <div class="">
    <div>
      <label for="image" class="form-label">Subir Imagen</label>
      <input
        type="file"
        accept="image/*"
        (change)="handleUploadImage($event)"
        id="image"
        name="image"
        class="hidden"
        #filePost />
    </div>

    <div class="grid grid-cols-3 gap-1">
      @for (image of data; track image.id) {
        <div
          class="relative border border-gray-200 rounded-md flex justify-center items-center">
          <p-image
            [src]="image.photo"
            alt="image-{{ image.id }}]"
            [preview]="true"
            imageClass="w-full object-cover" />
          <button
            type="button"
            (click)="handleDelete(image.id)"
            class="absolute right-2 top-2 rounded-full bg-red-500 px-2 py-1 text-white hover:bg-red-600">
            <i class="pi pi-trash"></i>
          </button>
        </div>
      }
      @if (data.length === 0) {
        <button
          type="button"
          class="flex justify-center items-center border border-gray-200 w-full h-28 rounded-md"
          (click)="filePost.click()">
          <i class="pi pi-plus"></i>
        </button>
      }
    </div>
    <p-confirmdialog />
  </div>
}
