<form [formGroup]="measureForm" (ngSubmit)="handleSubmit()">
  <div class="mb-2">
    @if (users$ | async; as users) {
      <div class="mb-2">
        <label for="user" class="form-label">Usuario</label>
        <p-select
          [options]="users"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          formControlName="user"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.username }}</div>
          </ng-template>
          <ng-template let-item #item>
            <div>{{ item.username }}</div>
          </ng-template>
        </p-select>
      </div>
    }

    <p class="form-error">{{ checkErrors("user") }}</p>
  </div>

  <div class="mb-2">
    <label for="comment" class="form-label">Comentario</label>

    <textarea
      id="comment"
      name="comment"
      class="w-full"
      formControlName="comment"
    >
    </textarea>
    <p class="form-error">{{ checkErrors("comment") }}</p>
  </div>

  <div class="grid grid-cols-4 gap-2">
    <div class="mb-2">
      <label for="weight" class="form-label">Peso</label>
      <input
        type="text"
        id="weight"
        name="weight"
        class="w-full"
        formControlName="weight"
      />
      <p class="form-error">{{ checkErrors("weight") }}</p>
    </div>
    <div class="mb-2">
      <label for="back" class="form-label">Espalda</label>
      <input
        type="text"
        id="back"
        name="back"
        class="w-full"
        formControlName="back"
      />
      <p class="form-error">{{ checkErrors("back") }}</p>
    </div>

    <div class="mb-2">
      <label for="chest" class="form-label">Pecho</label>
      <input
        type="text"
        id="chest"
        name="chest"
        class="w-full"
        formControlName="chest"
      />
      <p class="form-error">{{ checkErrors("chest") }}</p>
    </div>

    <div class="mb-2">
      <label for="arm_left" class="form-label">Brazo izquierdo</label>
      <input
        type="text"
        id="arm_left"
        name="arm_left"
        class="w-full"
        formControlName="arm_left"
      />
      <p class="form-error">{{ checkErrors("arm_left") }}</p>
    </div>

    <div class="mb-2">
      <label for="arm_right" class="form-label">Brazo Derecho </label>
      <input
        type="text"
        id="arm_right"
        name="abdomen"
        class="w-full"
        formControlName="arm_right"
      />
      <p class="form-error">{{ checkErrors("arm_right") }}</p>
    </div>

    <div class="mb-2">
      <label for="forearm" class="form-label">Antebrazo</label>
      <input
        type="text"
        id="forearm"
        name="forearm"
        class="w-full"
        formControlName="forearm"
      />
      <p class="form-error">{{ checkErrors("forearm") }}</p>
    </div>
    <div class="mb-2">
      <label for="abdomen" class="form-label">Abdomen</label>
      <input
        type="text"
        id="abdomen"
        name="abdomen"
        class="w-full"
        formControlName="abdomen"
      />
      <p class="form-error">{{ checkErrors("abdomen") }}</p>
    </div>
    <div class="mb-2">
      <label for="waist" class="form-label">Cintura</label>
      <input
        type="text"
        id="waist"
        name="waist"
        class="w-full"
        formControlName="waist"
      />
      <p class="form-error">{{ checkErrors("waist") }}</p>
    </div>

    <div class="mb-2">
      <label for="hips" class="form-label">Cadera</label>
      <input
        type="text"
        id="hips"
        name="hips"
        class="w-full"
        formControlName="hips"
      />
      <p class="form-error">{{ checkErrors("hips") }}</p>
    </div>

    <div class="mb-2">
      <label for="leg_left" class="form-label">Pierna izquierda</label>
      <input
        type="text"
        id="leg_left"
        name="leg_left"
        class="w-full"
        formControlName="leg_left"
      />
      <p class="form-error">{{ checkErrors("leg_left") }}</p>
    </div>

    <div class="mb-2">
      <label for="leg_right" class="form-label">Pierna derecha</label>
      <input
        type="text"
        id="leg_right"
        name="leg_right"
        class="w-full"
        formControlName="leg_right"
      />
      <p class="form-error">{{ checkErrors("leg_right") }}</p>
    </div>

    <div class="mb-2">
      <label for="glutes" class="form-label">Gluteos</label>
      <input
        type="text"
        id="glutes"
        name="glutes"
        class="w-full"
        formControlName="glutes"
      />
      <p class="form-error">{{ checkErrors("glutes") }}</p>
    </div>
  </div>

  <div class="flex items-center">
    <p-checkbox
      inputId="is_active"
      name="is_active"
      [binary]="true"
      formControlName="is_active"
    />
    <label for="is_active" class="ml-2">Es Activo?</label>
    <p class="form-error">{{ checkErrors("is_active") }}</p>
  </div>

  <button
    class="btn-primary mt-4"
    type="submit"
    [disabled]="measureForm.invalid"
  >
    Guardar
  </button>
</form>
