<h1 class="mb-4">Rutinas</h1>

<div class="flex justify-between">
  <app-routine-filter (filterChange)="handleFilter($event)" />
  <div>
    <a href="#" routerLink="create" class="btn-primary inline-block"
      ><i class="pi pi-plus"></i> Nuevo</a
    >
  </div>
</div>

@if (workoust$ | async; as data) {
  <p-table [value]="data.results" stripedRows>
    <ng-template #header>
      <tr class="uppercase">
        <th></th>
        <th>Nombre</th>
        <th>Nivel</th>
        <th>Ejercicios</th>
        <th>Creado</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.level_display }}</td>
        <td>{{ item.exercises.length }}</td>
        <td>{{ item.created | date: 'mediumDate' }}</td>
        <td>
          <a
            href="#"
            pTooltip="Editar"
            tooltipPosition="top"
            [routerLink]="[item.id, 'edit']"
            class="text-blue-600"
            ><i class="pi pi-pen-to-square"></i
          ></a>
        </td>
        <td>
          <button
            type="button"
            pTooltip="Borrar"
            tooltipPosition="top"
            (click)="confirmDelete(item.id)"
            class="text-red-600">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    showCurrentPageReport="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}"
    (onPageChange)="handlePage($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="data.count" />
} @else {
  <p-progressSpinner [style]="{ width: '40px', height: '40px' }" />
}

<p-confirmdialog />
<p-toast />
