<h1 class="mb-4">Rutinas</h1>

<div class="flex justify-between mb-2">
  <form [formGroup]="filterForm" (ngSubmit)="handleFilter()">
    <div class="flex space-x-2">
      <div>
        <input
          type="text"
          placeholder="Buscar..."
          class="rounded-md"
          formControlName="search"
        />
      </div>
      <div>
        <button class="btn-primary" type="submit">
          <i class="pi pi-search"></i> Buscar
        </button>
      </div>
    </div>
  </form>
  <div>
    <a href="#" routerLink="create" class="btn-primary inline-block"
      ><i class="pi pi-plus"></i> Nueva Rutina</a
    >
  </div>
</div>

@if (workoust$ | async; as data) {
  <p-table [value]="data" stripedRows>
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Dia</th>
        <th>Usuario</th>
        <th>Ejercicios</th>
        <th>Activo</th>
        <th>Creado</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ getDay(item.day) }}</td>
        <td>
          {{ item.user.first_name }} {{ item.user.last_name }} ({{
            item.user.username
          }})
        </td>
        <td>{{ item.exercises.length }}</td>
        <td>
          @if (item.is_active) {
            <p-tag icon="pi pi-check" severity="success" />
          } @else {
            <p-tag icon="pi pi-times" severity="danger" />
          }
        </td>
        <td>{{ item.created | date: "mediumDate" }}</td>
        <td>
          <a
            href="#"
            pTooltip="Editar"
            tooltipPosition="top"
            [routerLink]="[item.id, 'edit']"
            class="text-blue-600"
            ><i class="pi pi-pen-to-square"></i
          ></a>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
