<h1 class="mb-4">Rutinas</h1>

<div [formGroup]="form" class="mb-4">
  <div formArrayName="routines" class="mb-4">
    <div cdkDropList (cdkDropListDropped)="handleDragDrop($event)">
      @for (item of routines.controls; track $index; let i = $index) {
        <div [formGroupName]="i" cdkDrag>
          <div
            class="grid grid-cols-12 mb-2 gap-2 bg-white px-4 py-2 cursor-move">
            <div class="col-span-11">
              <h3>{{ item.value.title }}</h3>

              <input type="hidden" formControlName="routine" />
              <input type="hidden" formControlName="order" />
            </div>
            <div class="col-span-1 text-center">
              <button
                type="button"
                (click)="removeRoutine(i)"
                class="text-red-600">
                <i class="pi pi-times"></i>
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  <div>
    <button
      type="button"
      (click)="openRoutineModal()"
      class="bg-orange-400 flex text-sm rounded-md px-4 py-1 text-white">
      <i class="pi pi-plus mr-1"></i> Agregar
    </button>
  </div>
</div>
