<div [formGroup]="form" class="mb-4">
  <label [for]="controlName" class="form-label">{{ label }}</label>
  <p-select
    [options]="options"
    optionLabel="name"
    optionValue="id"
    [formControlName]="controlName"
    [placeholder]="placeholder"
    [filter]="filter"
    showClear="true"
    emptyMessage="No hay opciones disponibles"
    class="w-full">
    <ng-template #selectedItem let-selectedOption>
      <div>{{ selectedOption.name }}</div>
    </ng-template>
    <ng-template let-item #item>
      <div>{{ item.name }}</div>
    </ng-template>
  </p-select>

  @if (form.get(controlName)?.invalid && form.get(controlName)?.touched) {
    @if (form.get(controlName)?.hasError('required')) {
      <p class="form-error">Este campo es obligatorio</p>
    }

    @if (form.get(controlName)?.hasError('server')) {
      <p class="form-error">
        {{ form.get(controlName)?.errors?.['server'] }}
      </p>
    }
  }
</div>
