<ng-container *transloco="let t">
  <div class="flex gap-4 items-center mb-2">
    <div>
      <a href="#" routerLink="/admin/clients"
        ><i class="pi pi-arrow-left"></i
      ></a>
    </div>
  </div>

  @if (client) {
    <div class="flex gap-2 mb-6">
      <div>
        <img
          [src]="avatar"
          alt="avatar"
          class="w-20 h-20 rounded-full object-cover" />
      </div>
      <div class="flex flex-col">
        <h2>{{ client.fullname }}</h2>
        <p class="text-sm text-gray-500">Coach: {{ client.coach.fullname }}</p>
      </div>
    </div>
  }

  <div class="flex justify-between mb-4">
    <h1>Rutinas</h1>

    <div>
      <button (click)="openCreateDialog()" class="btn-primary">
        <i class="pi pi-plus"></i> Nuevo
      </button>
    </div>
  </div>

  @if (workouts$ | async; as data) {
    <p-table [value]="data.results" stripedRows>
      <ng-template #header>
        <tr class="uppercase">
          <th></th>
          <th>Titulo</th>
          <th>Rutinas</th>
          <th>Creado</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-item let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.routines.length }}</td>
          <td>{{ item.created | date: 'mediumDate' }}</td>
          <td>
            <button
              [pTooltip]="t('edit')"
              tooltipPosition="top"
              (click)="openEditDialog(item)"
              class="text-blue-600">
              <i class="pi pi-pen-to-square"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              pTooltip="Borrar"
              tooltipPosition="top"
              (click)="confirmDelete(item.id)"
              class="text-red-600">
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      showCurrentPageReport="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}"
      (onPageChange)="handlePage($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="data.count" />
  } @else {
    <p-progressSpinner [style]="{ width: '40px', height: '40px' }" />
  }
</ng-container>
<p-confirmdialog />
<p-toast />
