<form [formGroup]="workoutForm" (ngSubmit)="handleSubmit()">
  <app-prime-input [form]="workoutForm" controlName="title" label="Titulo" />

  <app-prime-editor
    [form]="workoutForm"
    controlName="description"
    label="Descripción" />

  <div class="flex items-center mb-4">
    <p-checkbox
      inputId="is_active"
      name="is_active"
      [binary]="true"
      formControlName="is_active" />
    <label for="is_active" class="ml-2">Es Activo?</label>
  </div>

  <h2 class="mb-2">Rutinas</h2>

  <div formArrayName="routines" class="mb-4">
    @for (tab of routines.controls; track $index; let i = $index) {
      <ng-container [formGroupName]="i">
        <div class="flex mb-2 gap-2">
          <input
            type="text"
            formControlName="title"
            class="form-input w-full rounded-md border-gray-300" />
          <input type="hidden" formControlName="routine" />

          <button type="button" (click)="removeRoutine(i)" class="text-red-600">
            <i class="pi pi-times"></i>
          </button>
        </div>
      </ng-container>
    }
  </div>

  <div>
    <button
      type="button"
      (click)="openRoutineModal()"
      class="bg-orange-400 flex text-sm rounded-md px-4 py-1 text-white">
      <i class="pi pi-plus mr-1"></i> Agregar
    </button>
  </div>

  <div class="flex justify-end mt-4">
    <div>
      <button class="btn-primary" type="submit">Guardar</button>
    </div>
  </div>
</form>
