<ng-container *transloco="let t">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div class="mb-2">
      <label for="username" class="form-label">{{ t("login.username") }}</label>
      <input
        type="text"
        fluid="true"
        pInputText
        formControlName="username"
        class="w-full"
      />
      <p class="form-error">{{ checkErrors("username") }}</p>
    </div>

    <div class="mb-2">
      <label for="password" class="form-label">{{ t("login.password") }}</label>
      <p-password
        formControlName="password"
        fluid="true"
        [toggleMask]="true"
        class="ng-invalid"
        [feedback]="false"
        size="large"
      />
      <p class="form-error">{{ checkErrors("password") }}</p>
    </div>

    <button
      class="btn-primary mt-4 w-full"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      {{ t("login.login") }}
    </button>
  </form>
</ng-container>
