<form [formGroup]="routineForm" (ngSubmit)="handleSubmit()">
  <div class="grid grid-cols-3 gap-6">
    <div class="col-span-2">
      <div class="grid grid-cols-3 gap-2">
        <div class="mb-4 col-span-2">
          <label for="name" class="form-label">Nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full"
            pInputText
            formControlName="name" />
          <p class="form-error">{{ checkErrors('name') }}</p>
        </div>
        <div>
          <div class="flex flex-col flex-auto">
            <label for="gender" class="form-label">Nivel</label>
            <p-select
              [options]="levels"
              optionLabel="label"
              optionValue="value"
              formControlName="level"
              class="w-full">
              <ng-template #selectedItem let-selectedOption>
                <div>{{ selectedOption.label }}</div>
              </ng-template>
              <ng-template let-item #item>
                <div>{{ item.label }}</div>
              </ng-template>
            </p-select>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label for="days" class="form-label">Selecciona un día</label>
        <div class="flex gap-2">
          <p-selectbutton
            [options]="days"
            formControlName="day"
            optionLabel="label"
            optionValue="value"
            styleClass="w-full"
            aria-labelledby="basic" />

          <p class="form-error">{{ checkErrors('day') }}</p>
        </div>
      </div>

      <div class="mb-4">
        <label for="description" class="form-label">Descripción</label>
        <p-editor
          formControlName="description"
          class="w-full"
          [modules]="modules">
          <ng-template pTemplate="header"> </ng-template>
        </p-editor>
      </div>

      <div class="mb-4">
        <div class="flex items-center">
          <label for="is_active" class="form-label mr-4">Es Activo?</label>
          <p-checkbox
            inputId="is_active"
            name="is_active"
            [binary]="true"
            formControlName="is_active" />
          <p class="form-error">{{ checkErrors('is_active') }}</p>
        </div>
      </div>

      <div formArrayName="exercises">
        <p-accordion cdkDropList (cdkDropListDropped)="drop($event)">
          @for (tab of exercises.controls; track $index; let i = $index) {
            <p-accordion-panel [formGroupName]="i" [value]="i" cdkDrag>
              <p-accordion-header>
                <div class="flex w-full justify-between">
                  <div>{{ tab.value.name }}</div>
                  <div class="items-center">
                    <button
                      type="button"
                      (click)="removeExercise(i, tab)"
                      class="text-red-600 mr-4">
                      <i class="pi pi-times"></i>
                    </button>
                  </div>
                </div>
              </p-accordion-header>
              <p-accordion-content>
                <div class="flex mb-2">
                  <div class="flex flex-auto flex-col">
                    <label for="description" class="form-label"
                      >Descripción</label
                    >
                    <input
                      type="text"
                      id="description"
                      name="description"
                      formControlName="description"
                      class="w-full rounded-md border-gray-300" />
                    <input
                      type="hidden"
                      id="order"
                      name="order"
                      formControlName="order" />
                  </div>
                </div>

                <div formArrayName="sets" class="mt-4">
                  <div class="grid grid-cols-4 gap-1">
                    <div class="text-sm">Serie</div>
                    <div class="text-sm">Repetición</div>
                    <div class="text-sm">Peso</div>
                    <div></div>
                  </div>
                  @for (s of sets(i).controls; track $index; let j = $index) {
                    <div
                      class="grid grid-cols-4 gap-1 mb-2"
                      [formGroupName]="j">
                      <div>
                        <input
                          type="number"
                          id="sets"
                          name="sets"
                          formControlName="sets"
                          class="rounded-md border-gray-300 p-1 w-full" />
                      </div>
                      <div>
                        <input
                          type="number"
                          id="rept"
                          name="rept"
                          formControlName="rept"
                          class="rounded-md border-gray-300 p-1 w-full" />
                      </div>
                      <div>
                        <input
                          type="number"
                          id="weight"
                          name="weight"
                          formControlName="weight"
                          class="rounded-md border-gray-300 p-1 w-full" />
                      </div>
                      <div class="flex items-end">
                        <button
                          type="button"
                          (click)="removeSet(i, j)"
                          class="text-red-600">
                          <i class="pi pi-times"></i>
                        </button>
                      </div>
                    </div>
                  }
                  <div>
                    <button
                      type="button"
                      (click)="addSet(i)"
                      class="text-green-700 flex items-center rounded-md px-4 py-1 border border-green-400">
                      <i class="pi pi-plus mr-1"></i> Nuevo
                    </button>
                  </div>
                </div>
                <!-- end of sets -->
              </p-accordion-content>
            </p-accordion-panel>
          }
        </p-accordion>
      </div>

      <div class="mt-6">
        <button class="btn-primary" type="submit">Guardar</button>
      </div>
    </div>
    <!-- end col-span-2 -->

    @if (workout) {
      <div
        class="border border-gray-300 m-2 bg-gray-50 px-4 py-6 rounded-md h-screen">
        <input
          type="text"
          [formControl]="searchControl"
          class="w-full rounded-md mb-4 bg-gray-100 border border-gray-300"
          placeholder="Buscar ejercicio" />

        <p-scrollpanel styleClass="h-4/5">
          <table class="w-full">
            @for (item of filteredExercises; track item.id) {
              <tr class="odd:bg-white even:bg-gray-100 hover:bg-gray-100">
                <td class="px-4 p-2">
                  <button
                    type="button"
                    (click)="selectExercise(item)"
                    pTooltip="Agregar"
                    tooltipPosition="top"
                    class="text-sm text-blue-700 font-bold">
                    <i class="pi pi-plus"></i>
                  </button>
                </td>
                <td class="pr-2 p-2">
                  <img
                    [src]="item.image"
                    class="rounded-full h-10 w-10 border border-gray-300"
                    alt="exercise" />
                </td>
                <td class="p-2 text-sm">{{ item.name }}</td>
              </tr>
            }
          </table>
        </p-scrollpanel>
      </div>
    }
  </div>
</form>
