<form [formGroup]="exerciseForm" (ngSubmit)="handleSubmit()">
  <app-file-upload [image]="image" (fileChange)="handleFile($event)" />

  <app-prime-input [form]="exerciseForm" controlName="name" label="Nombre" />

  <app-prime-select
    [form]="exerciseForm"
    controlName="muscle"
    label="Músculo"
    [options]="muscles" />

  <app-prime-select
    [form]="exerciseForm"
    controlName="equipment"
    label="Equipo"
    [options]="equipments" />

  <div class="mb-4">
    <label for="description" class="form-label">Instrucciones</label>

    <p-editor formControlName="description" class="w-full" [modules]="modules">
      <ng-template pTemplate="header"> </ng-template>
    </p-editor>
  </div>

  <div class="flex justify-end">
    <button class="btn-primary mt-4" type="submit">Guardar</button>
  </div>
</form>
