<div class="md:w-2/4">
  <h1 class="mb-4">Nuevo ejercicio</h1>

  <form [formGroup]="exerciseForm" (ngSubmit)="handleSubmit()">
    <div class="mb-2">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full"
        formControlName="name"
      />
      <p class="form-error">{{ checkErrors("name") }}</p>
    </div>

    <div class="flex gap-2 mb-2">
      <div class="flex-auto">
        <label for="sets" class="form-label">Series</label>
        <input
          type="text"
          id="sets"
          name="sets"
          class="w-full"
          formControlName="sets"
        />
        <p class="form-error">{{ checkErrors("sets") }}</p>
      </div>
      <div class="flex-auto">
        <label for="repts" class="form-label">Repeticiones</label>
        <input
          type="text"
          id="repts"
          name="repts"
          class="w-full"
          formControlName="repts"
        />
        <p class="form-error">{{ checkErrors("repts") }}</p>
      </div>
      <div class="flex-auto">
        <label for="repts" class="form-label">Peso</label>
        <input
          type="text"
          id="weight"
          name="weight"
          class="w-full"
          formControlName="weight"
        />
        <p class="form-error">{{ checkErrors("weight") }}</p>
      </div>
    </div>

    @if (equipments$ | async; as equipments) {
      <div class="mb-2">
        <label for="equipments" class="form-label">Equipo</label>
        <p-select
          [options]="equipments"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          formControlName="equipment"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.name }}</div>
          </ng-template>
          <ng-template let-item #item>
            <div>{{ item.name }}</div>
          </ng-template>
        </p-select>
      </div>
    }

    @if (muscles$ | async; as muscles) {
      <div class="mb-2">
        <label for="muscles" class="form-label">Músculo</label>
        <p-select
          [options]="muscles"
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          formControlName="muscle"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.name }}</div>
          </ng-template>
          <ng-template let-item #item>
            <div>{{ item.name }}</div>
          </ng-template>
        </p-select>
      </div>
    }

    <div class="mb-2">
      <label for="description" class="form-label">Instrucciones</label>

      <p-editor
        formControlName="description"
        class="w-full"
        [modules]="modules"
      >
        <ng-template pTemplate="header"> </ng-template>
      </p-editor>
    </div>

    <button class="btn-primary mt-4" type="submit">Guardar</button>
  </form>
</div>
