<h2 class="mb-4">Nuevo Catálogo</h2>
<div class="md:w-2/4 card">
  <form [formGroup]="catalogForm" (ngSubmit)="handleSubmit()">
    <div class="mb-2">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        fluid="true"
        pInputText
        formControlName="name"
        class="ng-invalid"
      />
      <p class="form-error">{{ checkErrors("name") }}</p>
    </div>

    <div class="mb-2">
      <label for="key" class="form-label">Tipo</label>
      <p-select
        [options]="catalogTypes"
        optionLabel="name"
        optionValue="id"
        [filter]="true"
        filterBy="name"
        formControlName="key"
        class="w-full"
      >
        <ng-template #selectedItem let-selectedOption>
          <div>{{ selectedOption.name }}</div>
        </ng-template>
        <ng-template let-item #item>
          <div>{{ item.name }}</div>
        </ng-template>
      </p-select>
      <p class="form-error">{{ checkErrors("key") }}</p>
    </div>

    @if (catalogForm.hasError("error")) {
      <div class="error">Error occured.</div>
    }

    <div class="flex justify-between mt-4">
      <a href="#" class="btn-secondary" routerLink="/admin/catalogs">
        Cancelar
      </a>
      <button
        class="btn-primary"
        type="submit"
        [disabled]="catalogForm.invalid"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
<p-toast />
