<div class="grid grid-cols-3 gap-6">
  <form [formGroup]="catalogForm" (ngSubmit)="handleSubmit()">
    <app-form-field [form]="catalogForm" controlName="name" label="Nombre" />

    <app-select-input
      [form]="catalogForm"
      controlName="key"
      label="Tipo"
      [options]="catalogTypes" />

    <div class="flex justify-end mt-4">
      <button class="btn-primary" type="submit">Guardar</button>
    </div>
  </form>

  @if (catalog) {
    <div class="border border-gray-300 bg-gray-50 px-4 py-6 rounded-md">
      <app-upload-image [contentType]="contentType" [objectId]="objectId" />
    </div>
    <div></div>
  }
</div>
