<div class="md:w-1/4 md:mx-auto px-4">
  <div class="mt-6 w-1/3 mx-auto">
    <img src="logo.png" alt="Logo" class="w-full object-cover" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <app-prime-input
      [form]="loginForm"
      controlName="username"
      label="Usuario" />

    <app-prime-password
      [form]="loginForm"
      controlName="password"
      label="Contraseña" />

    <p-button
      [disabled]="loginForm.invalid"
      [loading]="loading"
      fluid="true"
      type="submit"
      label="Iniciar Sesión" />
  </form>
</div>
<p-toast />
