<div class="md:w-2/4">
  <form [formGroup]="workoutForm" (ngSubmit)="handleSubmit()">
    <h1 class="mb-4">Nuevo Entreno</h1>

    <div class="mb-2">
      <label for="day" class="form-label">Día</label>
      <select name="day" id="day" formControlName="day" class="form-input">
        @for (item of days; track item.value) {
          <option [value]="item.value">
            {{ item.label }}
          </option>
        }
      </select>
      <p class="form-error">{{ checkErrors("day") }}</p>
    </div>

    <div class="mb-2">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full"
        formControlName="name"
      />
      <p class="form-error">{{ checkErrors("name") }}</p>
    </div>

    <div class="mb-10">
      <label for="user" class="form-label">Usuario</label>
      <select name="user" id="user" formControlName="user" class="form-input">
        @for (item of users$ | async; track item.id) {
          <option [value]="item.id">
            {{ item.username }}
          </option>
        }
      </select>
      <p class="form-error">{{ checkErrors("user") }}</p>
    </div>

    <h2 class="mb-2">Agregar Rutinas</h2>

    @for (item of routines.controls; track $index; let index = $index) {
      <div class="flex mb-4">
        <div class="flex-auto">
          <select
            id="routine"
            name="routine"
            class="form-input w-full"
            [formControl]="item.get('id') | formControl"
          >
            @for (e of routines$ | async; track e.id) {
              <option [value]="e.id">
                {{ e.name }}
              </option>
            }
          </select>
        </div>
        <div class="flex w-10 pl-2">
          <button
            class="btn-primary"
            type="button"
            (click)="removeRoutine(index)"
          >
            Borrar
          </button>
        </div>
      </div>
    }
    <div class="mb-2">
      <button class="btn-primary" type="button" (click)="addRoutine()">
        Agregar
      </button>
    </div>

    <button class="btn-primary mt-10" type="submit">Guardar</button>
  </form>
</div>
