<div class="grid grid-cols-3 gap-4">
  <div>
    <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
      <div class="flex gap-2 mb-2">
        <div class="flex flex-col flex-auto">
          <label for="first_name" class="form-label">Nombres</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            pInputText
            class="w-full"
            formControlName="first_name"
          />
          <p class="form-error">{{ checkErrors("first_name") }}</p>
        </div>
        <div class="flex flex-col flex-auto">
          <label for="last_name" class="form-label">Apellidos</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            pInputText
            class="w-full"
            formControlName="last_name"
          />
          <p class="form-error">{{ checkErrors("last_name") }}</p>
        </div>
      </div>

      <div class="flex gap-2 mb-2">
        <div class="flex flex-col flex-auto">
          <label for="gender" class="form-label">Género</label>
          <p-select
            [options]="genders"
            optionLabel="name"
            optionValue="id"
            formControlName="gender"
            class="w-full"
          >
            <ng-template #selectedItem let-selectedOption>
              <div>{{ selectedOption.name }}</div>
            </ng-template>
            <ng-template let-item #item>
              <div>{{ item.name }}</div>
            </ng-template>
          </p-select>

          <p class="form-error">{{ checkErrors("gender") }}</p>
        </div>
        <div class="flex flex-col flex-auto">
          <label for="phone" class="form-label">Teléfono</label>
          <input
            type="number"
            id="phone"
            name="phone"
            pInputText
            class="w-full"
            formControlName="phone"
          />
          <p class="form-error">{{ checkErrors("phone") }}</p>
        </div>
        <div class="flex flex-col flex-auto">
          <label for="age" class="form-label">Edad</label>
          <input
            type="number"
            id="age"
            name="age"
            pInputText
            class="w-full"
            formControlName="age"
          />
          <p class="form-error">{{ checkErrors("age") }}</p>
        </div>
      </div>

      <div class="mb-2 flex flex-col">
        <label for="username" class="form-label">Usuario</label>
        <input
          type="text"
          id="username"
          name="username"
          pInputText
          class="w-full"
          formControlName="username"
        />
        <p class="form-error">{{ checkErrors("username") }}</p>
      </div>

      <div class="mb-4 flex flex-col">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="text"
          id="password"
          name="password"
          pInputText
          class="w-full"
          formControlName="password"
        />
        <p class="form-error">{{ checkErrors("password") }}</p>
      </div>

      <div class="flex items-center">
        <p-checkbox
          inputId="is_active"
          name="is_active"
          [binary]="true"
          formControlName="is_active"
        />
        <label for="is_active" class="ml-2">Es Activo?</label>
        <p class="form-error">{{ checkErrors("is_active") }}</p>
      </div>

      <div class="flex justify-end">
        <button class="btn-primary mt-4" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <div>
    <app-file-upload
      [image]="user?.photo || ''"
      (uploadImageChange)="onUploadImage($event)"
    ></app-file-upload>
  </div>
</div>
