<form [formGroup]="userForm" (ngSubmit)="handleSubmit()" class="w-2/3">
  <app-prime-file [image]="avatar" (fileChange)="handleFile($event)" />

  <app-prime-select
    [form]="userForm"
    controlName="company"
    label="Gimnasio"
    [options]="companies" />

  <div class="grid grid-cols-2 gap-2">
    <app-prime-input
      [form]="userForm"
      controlName="first_name"
      label="Nombres" />
    <app-prime-input
      [form]="userForm"
      controlName="last_name"
      label="Apellidos" />
  </div>

  <app-prime-input [form]="userForm" controlName="username" label="Usuario" />

  <app-prime-password
    [form]="userForm"
    controlName="password"
    label="Contraseña" />

  <app-prime-select
    [form]="userForm"
    controlName="role"
    label="Rol"
    [options]="roles" />

  @if (userForm.get('role')?.value === 'client') {
    <app-prime-select
      [form]="userForm"
      controlName="coach"
      label="Entrenador"
      [options]="coaches" />
  }

  <app-prime-checkbox
    [form]="userForm"
    controlName="is_active"
    label="Activo" />

  @if (loading) {
    <p-progressSpinner [style]="{ width: '40px', height: '40px' }" />
  } @else {
    <app-user-routine-form [form]="userForm" [userRoutines]="routines" />
  }

  <div class="flex justify-end">
    <button class="btn-primary mt-4" type="submit">Guardar</button>
  </div>
</form>
